*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# Gradle files
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Local configuration file
local.properties
gradle.properties

# Build outputs
app/build/
build_output.txt
build_result.txt

# NDK
obj/
